#am{

    height: 600px;
    width: 700px;
    border: 5px solid rgb(22, 22, 22);
    margin:100px;
    
padding-bottom: 6%;
}
#chandra{
    height: 500px;
    width: 600px;
    border: 4px solid rgb(22, 22, 22);
    margin-top:55px;margin-bottom: 55px;
    
padding-bottom: 4%;
}
#ram{
    height: 400px;
    width: 500px;
    border: 3px solid rgb(22, 22, 22);
    margin-top: 30px;
   
padding-bottom: 3%;
}
#sri{

    height: 300px;
    width: 400px;
 border: ;
    margin-top: 30px;
    
    padding-bottom: 2%;
}
#avinash{
    height: 200px;
    width: 300px;
    border: 3px solid rgb(22, 22, 22);
    margin-top: 30px;
   
    padding-bottom: 2%;
}
#avinash:hover{
    background-color:rgb(219, 10, 10);
}
#sri:hover{
    background-color: rgb(51, 31, 224);

}
#ram:hover{
    background-color: rgb(218, 208, 15);
}
#chandra:hover{
    background-color: rgb(11, 179, 230);
}
#am:hover{
    background-color: rgb(138, 167, 140);
    display: ;
}